
@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: black;
}

.button-user-link {
    background-color: #756257;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.button-search {
    width: 575px;
    margin-left: 313px;
    margin-right: 312px;
    background: #756257;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}
.button-product-card {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.newsletter-button {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}
.product-card-button-detail {
    background: #756257;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.buttom-pagination-show-more {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    width: 620px;
    margin-left: 330px;
}
.navigation-link  {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    text-align: center;
    text-decoration: none;
}
.testt {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-logo {
    width: 138px;
    margin-left: 70px;
}
.navigation {
    display: flex;
    margin:  0;
    padding: 0;
}
.navigation-list {
    width: 450px;
    margin-left: 42px;
    padding: 0;
}
.user-list {
    max-width: 250px;
    margin-left: auto;
}
.welcome {
    width: 1200px;
    background-image: url("../images/index-background.jpg");
}
.offer {
    width: 1200px;
    height: 282px;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 72px;
    padding-right: 72px;
}
.main-container {
    flex-grow: 1;
}
.main-index {
    background-color: #FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-sedona {
    display: block;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
  .main-index-title {
    width: 720px;
    margin-left: 240px;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  .main-index-description {
    width: 720px;
    margin-left: 240px;
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.advantages-list > ul {
    width: 200px;
    height: 50px;
    margin: 0 10px;
    padding: 10px;
  }
.advantages-list-icon {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #83B3D31F;
    color: #000000;
    text-align: center;
}
.advanfates-title-icon {
    width: 400px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.advanfates-description-icon {
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.hotel-search {
    width: 1200px;
    background-color: #FFFFFF;
    color:#000000 ;
    text-align: center;
}
.hotel-search-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}
.hotel-search-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}
.filter-background {
    background-image: url("../images/catalog-background-1.jpg"); 
    background-size: 100% auto;
    color: #FFFFFF;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.product-card {
    width: 340px; 
}

.pagination {
    display: flex;
    padding: 0;
}
.catalog-filter {
    display: flex;
    width: 170px;
    padding-left: 71px;
}
.under-filter {
    display: flex;
    width: 1200px;

}
.hotels-found {
    width: 337px;
    padding-left: 71px;
}
.catalog-right-column {
    margin-left: 660px;  
}

.inner-header-tittle {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
.breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px
}
.catalog-filter-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.control-imput {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.hotels-found {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;

}
.product-card-link {
    text-decoration: none;
}
.product-card-title {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}
.product-card-frame {
    color: #333333;

    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
.product-card-prise{
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.sorting-container {
    color: #FFFFFF;
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.pagination-link-pagination-prev-pagination-disabled {
    color:#000000;
    background-color: #F2F2F2;
}
.newsletter {
    width: 1200px;
    height: 411px;
    background-image: url("../images/background-letter.jpg");
    background-color: black;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
}
.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.newsletter-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.footer-page {
    padding-left: 72px;
    padding-right: 72px;
}

.footer-page-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.footer-nunber {
    width: 720px;
    margin-left: 240px;
    margin-right: 240px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;   
}
.footer-logo {
    width: 115px;
    margin-right: 72px;
}
.number-phone {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}