@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-user-link {
  background-color: #756257;
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 8px 38px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

.button-user-link:hover {
  background-color: #615048;
}
.button-user-link:active{
  opacity: 0.3;
}
.button-search {
  width: 575px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 92px;
  background: #756257;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}
.button-search:hover {
  background-color: #615048;
}
.button-search:active {
  opacity: 0.3;
}

.button-product-card {
  width: 140px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
}
.button-product-card:hover {
  background-color: #68A2CA;
}
.button-product-card:active {
  opacity: 0.3;
}


.newsletter-button {
  width: 200px;
  height: 60px;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}
.newsletter-button:active {
  opacity: 0.3;
}


.buttom-pagination-show-more {
  display: flex;
  justify-content: center;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  width: 620px;
  margin: auto;
}

.buttom-advantages-list-show-more {
  display: block;
  margin: 0 auto;
  width: 620px;
  height: 60px;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}
.buttom-advantages-list-show-more:hover {
  background-color: #68A2CA;
  border-radius: 10px;
}
.buttom-advantages-list-show-more:active {
  border-radius: 10px;
  opacity: 0.3;
  
}

.navigation {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}


.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-icon:hover {
  fill: #756257;
}
.navigation-link:active {
  opacity: 0.3;
}
.navigation-icon:active {
fill:#756257;
}

.navigation-link-icon {
  position: relative;
  display: block;
  padding: 33px 21px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 466px;
  margin: 0;
  margin-left: 47px;
  padding: 0;
  list-style-type: none;
}

.user-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 138px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;

}

.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.welcome {
  width: 1200px;
  background-image: url("../images/index-background.jpg");
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.offer {
  width: 1200px;
  height: 282px;
}

.main-index-title {
  width: 720px;
  margin: auto;
  margin-top: 63px;
  margin-bottom: 30px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-index-description {
  width: 720px;
  margin: auto;
  margin-top: 31px;
  margin-bottom: 80px;
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.promo-tape {
  display: flex;
}


.promo-tape-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.promo-tape-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  text-transform: uppercase;
}

.promo-tape-description {

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.numbers {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.advanfates-item {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advanfates-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advanfates-title {
  margin-top: 98px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advanfates-description {
  font-family: PT Sans;
  margin-top: 30px;
  margin-bottom: 108px;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.advantages-list>ul {
  width: 200px;
  height: 50px;
  margin: 0 10px;
  padding: 10px;
}

.icon {
  margin-top: 90px;
}

.advantages-list-icon {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 384px;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  list-style-type: none;
}

.advanfates-item-icon:nth-child(odd) {
  background-color: #83B3D31F;
}

.advanfates-title-icon {
  width: 400px;
  margin-top: 24px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advanfates-description-icon {
  color: #333333;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  width: 1200px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.hotel-search-title {
  font-weight: 700;
  margin-top: 91px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-description {
  font-weight: 400;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.field {
  margin-top: 46px;
  width: 600px;
  height: 60px;


}

.filter-background {
  background-image: url("../images/catalog-background-1.jpg");
  background-size: 100% auto;
  color: #FFFFFF;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  flex-grow: 1;
  column-gap: 18px;
  row-gap: 10px;
  width: 1056px;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 34px;
  margin-top: 26px;
  padding: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-title {
  margin: 0;
  margin-top: 16px;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.product-card-content {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.product-card-frame {
  width: 132px;
  margin: 0;
  margin-right: 25px;
  color: #333333;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.product-card-prise {
  margin: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-button {
  display: flex;
  margin-bottom: 16px;
}

.product-card-button-detail {
  width: 132px;
  margin-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #756257;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}
.product-card-button-detail:hover {
  background-color: #615048;
}

.product-card-button-detail:active {
  opacity: 0.3;
}


.star-rating {
  display: flex;
  align-items: center;
}

.stars {
  margin-right: 7px;
}
.stars:nth-last-child(1) {
  margin-right: 0px;
}

.rating {
  color: #333333;
  background-color: #F2F2F2;
  width: 160px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-products {

  margin-top: 45px;
  padding: 0;
}


.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-title {
  margin-left: 72px;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  margin-left: 72px;
  margin-bottom: 80px;
  padding: 0;
  border: 0;
  list-style-type: none;
}
.catalog-filter-item {
  margin-top: 13px;
}

.hotels-found {
  width: 337px;
}

.inner-header-tittle {
  margin: 0 auto;
  margin-left: 70px;
  padding-top: 35px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  display: flex;
  margin-right: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px
}

.control-imput {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.product-card-link {
  text-decoration: none;
}

.sorting-right {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  margin-left: 80px;
  padding: 0;
}

.pagination-link-pagination-prev-pagination-disabled {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 411px;
  margin: 0;
  padding: 0;
  background-image: url("../images/background-letter.jpg");
  background-color: black;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
}

.newsletter-title {
  font-weight: 700;
  margin-top: 94px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-catalog-title {
  font-weight: 700;
  margin: 0px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-catalog-description {
  margin-top: 46px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

}

.subscribe {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.newsletter-description {
  margin-top: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

<--вторая-->.inner-header-tittle {
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style-type: none;
}


.breadcrumbs-link {
  color: inherit;
}

.under-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
}

.hotels-found-title {
  width: 338px;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  color: #333333;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.sorting-item {
  margin-right: 8px;
}

.sorting-item:nth-last-child(1) {
  margin-right: 0px;
}

.sorting-container .button {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 73px;
  margin-left: 72px;
  margin-right: 72px;
  background-color: #FFFFFF;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-left: 8px;
}

.pagination-item:nth-child(1) {
  margin-left: 0;
  background-color: #FFFFFF;
  color: #000000;
}

.select-quantity {
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
}

.pagination-link {
  display: block;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 12px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
  margin-left: 0;
}

.pagination-link:not(:first-child) {
  margin-left: 0;
  background-color: #FFFFFF;
  color: #000000;

}

.hotels-on-page {
  margin-left: auto;
  margin-right: 50px;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}



.select-control {
  width: 287px;
  height: 48px;
  margin-left: 192px;
  cursor: pointer;
}

.footer-page {
  padding: 0;
  margin: 40px auto;
  margin-top: 40px;
}

.footer-page-container {
  display: flex;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.footer-nunber {
  width: 720px;
  margin-left: 240px;
  margin-right: 240px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.footer-logo {
  width: 115px;
  margin-right: 72px;
}

.number-phone {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-social {
  width: 107px;
  padding-left: 72px;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 16px;
  margin-right: 30px;
}
.footer-social-item:hover {
  color: red;
}
